<section>
	<h3> <strong> COMMENT ÇA MARCHE ?</strong></h3>

	<div class="row">
	  <div class="col-xs-6 col-md-4">
	  	<%= image_tag "Muesli.jpg", :size => "300x300" %>
	  	<p>JE SALIVE</p>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  	<%= image_tag "Muesli2.jpg", :size => "300x300" %>
	  	<p>JE SUCCOMBE</p>
	  </div>
	  <div class="col-xs-6 col-md-4">
	  	<%= image_tag "Muesli3.jpg", :size => "300x300" %>
	  	<p>JE SAVOURE</p>
	  </div>
	</div>

	
</section>
