<footer class="footer">
	<div class="pre-footer">
		<div class="container">
			<div class="joinus">
				<p>REJOIGNEZ NOUS SUR :</p>
				<%= link_to(image_tag("/assets/instagram.png", :alt => "logo", :title => "instagram", :size => '50x50', :class => "instagram"), "http://instagram.com/dearmuesli", :target => '_blank') %>

				<%= link_to(image_tag("/assets/facebook.png", :alt => "logo", :title => "facebook", :size => '50x50', :class => "facebook"), "https://www.facebook.com/dearmuesli", :target => '_blank') %>

				<%= link_to(image_tag("/assets/twitter.png", :alt => "logo", :title => "twitter", :size => '50x50', :class => "twitter"), "https://twitter.com/dearmuesli", :target => '_blank') %>

			</div>
		</div>
	</div>
	
	<%= image_tag "ble.png", :class => "ble" %>

	<nav class="navbar  navbar-bottom">
		<p><strong>Home</strong> . <strong>Comment ça marche</strong> . <strong> Dear Muesli en 3 chiffres</strong></p>
	  <small>
	  Copyright &copy; Dear Muesli 2014. All Rights Reserved <br>
	  </small>	
	</nav>

</footer>