<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <small>
   DearMuesli by  <a href="http://occuly.me" target="_blank">Guillaume Occuly</a>
  </small>
  </nav>
</footer>