<footer class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <p><strong>Home</strong> . <strong>Comment ça marche</strong> . <strong> Dear Muesli en 3 chiffres</strong></p>
  <small>
  Copyright &copy; Dear Muesli 2014. All Rights Reserved <br>
  by  <a href="http://occuly.me" target="_blank">Guillaume Occuly</a>
  </small>
  </nav>
</footer>