<footer class="footer">
	<div class="pre-footer">
		<div class="container">
			<div class="joinus">
				<p>REJOIGNEZ NOUS SUR :</p>
				<%= image_tag "instagram.png", :size => '50x50', :class => "instagram" %>
				<%= image_tag "facebook.png", :size => '50x50', :class => "facebook" %>
				<%= image_tag "twitter.png", :size => '50x50', :class => "twitter" %>
			</div>
		</div>
	</div>
	
	<%= image_tag "ble.png", :class => "ble" %>

	<nav class="navbar  navbar-bottom">
		<p><strong>Home</strong> . <strong>Comment ça marche</strong> . <strong> Dear Muesli en 3 chiffres</strong></p>
	  <small>
	  Copyright &copy; Dear Muesli 2014. All Rights Reserved <br>
	  by  <a href="http://occuly.me" target="_blank">Guillaume Occuly</a>
	  </small>	
	</nav>

</footer>